/* .header{
    background-color: grey;
}
h1{
    text-align: center;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav li{
    display: inline;
    margin-right: 10px;
}
/* article{
    border: 1px solid black;
    margin: 10px;
} */
/* 
footer{
    background-color: darkgrey;
    color: white;
    text-align: center;
}
.artigo1 p{
    color: red;
} */