/* p{
    color: blue;
    font-size: 10px;
}
.caixinha1{
    background-color: red;
}
.caixinha2{
    background-color: aqua;
}
.texto_grande{
    font-size: 24px;
    font-style: italic;
}
#diferentao{
    font-size: 18px;
    text-decoration: underline;
    color: greenyellow;
}
p{
    color: black;
} */